{% extends 'base.html.twig' %}

{% block title %} Dashboard {% endblock %}

{% block body %}
    {% if not is_granted('ROLE_ADMIN') %}
    <h1 style="margin:25px"> Teachers </h1>
    <div class="row">
        <div class="col-2">
            <div style="margin:15px">
                <a href={{ path('teacher_list') }}> Teacher List </a>
            </div>
        </div>
        <div class="col-2 offset-8">
            <div style="margin:15px">
                <a href={{ path('app_logout') }}> Sign Out </a>
            </div>
        </div>
    </div>
    <div style="margin:15px">
        <div style="margin-bottom: 15px">
            Welcome {{ teacher.surname }} {{ teacher.name }}!
        </div>
        <div>
            Your average note is {{ averageNote }} <p style="font-size: small"> (-1 if you do not have any reviews) </p>
        </div>
    </div>
    <div style="margin:15px">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Note</td>
                <td>Comment</td>
            </tr>
            </thead>
            {% for review in reviews %}
                <tr>
                    <td> {{ review.note }} </td>
                    <td> {{ review.comment }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

{% endblock %}
