<h1>Teachers</h1>
<div class="addTeacher">
    <a href={{ path('teacher_create') }}> Add a new teacher </a>
</div>
<div class="teachers">
    <table>
        {% for teacher in teachers %}
            <tr>
                <td> {{ teacher.id }} </td>
                <td> {{ teacher.name }} </td>
                <td> {{ teacher.surname }} </td>
                <td> {{ teacher.email }} </td>
                <td> <a href={{ path('teacher_update', {id: teacher.id}) }}>Edit</a> </td>
                <td> <a href={{ path('teacher_delete', {id: teacher.id}) }}>Remove</a> </td>
            </tr>
        {% endfor %}
    </table>
</div>